<!DOCTYPE html>
<!--
  Copyright (C) 2025 8to16

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, version 3 of the License.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<html lang="en">
<head>
<%- include("partials/head") %>
<title><%= title || "TeleWarp - Share projects" %></title>
<%- styleTag %>
</head>
<body>
<% if (!contentOnly) { %>
<!-- Header -->
<%- include("partials/header") %>
<div class="page-container">
<div class="news">TeleWarp is in an alpha stage and may break at any time.</div>
<% } %>
<!-- Content -->
<main><%- body %></main>
<% if (!contentOnly) { %>
<!-- Footer -->
<%- include("partials/footer") %>
<% } %>
</div>
</body>
<!-- Dark mode script -->
<script>
  const button = document.querySelector('.header #_darkSwitch') || document.createElement('button')
  const icon = document.querySelector('#_themeIcon') || document.createElement('div')

  function applyTheme(theme) {
    if (theme === 'dark') {
      document.body.classList.add('dark')
      icon.src = '/images/tw-sun.svg'
    } else {
      document.body.classList.remove('dark')
      icon.src = '/images/tw-moon.svg'
    }
  }

  let savedTheme = localStorage.getItem('theme')

  if (!savedTheme) {
    const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches
    savedTheme = prefersDark ? 'dark' : 'light'
  }

  applyTheme(savedTheme)

  button.addEventListener('click', () => {
    const isDark = document.body.classList.toggle('dark')
    const newTheme = isDark ? 'dark' : 'light'
    localStorage.setItem('theme', newTheme)
    applyTheme(newTheme)
  })
</script>
</html>
